<a href="https://colab.research.google.com/github/Limpapat/Python101/blob/main/pandas_part3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 101 : Pandas : Data Preprocessing [Part 3]
by Limpapat Bussaban

14/09/2021

[pandas] Python Data Analysis Library https://pandas.pydata.org 

[Datacamp] Cheat sheets http://datacamp-community-prod.s3.amazonaws.com/f04456d7-8e61-482f-9cc9-da6f7f25fc9b

[pandas] Cheat sheets https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!mkdir mydata
!gdown --id 1_3XIn2QnZ8aBzpMooB4L8Q9HKXKakTDc --output /content/mydata/covid-19.xlsx

Downloading...
From: https://drive.google.com/uc?id=1_3XIn2QnZ8aBzpMooB4L8Q9HKXKakTDc
To: /content/mydata/covid-19.xlsx
37.3MB [00:00, 89.1MB/s]

In [ ]:
DATA_ = pd.read_excel('/content/mydata/covid-19.xlsx')
DATA_.head(10)

   No. announce_date  ... province_of_onset district_of_onset
0    1    2020-01-12  ...     กรุงเทพมหานคร               NaN
1    2    2020-01-17  ...     กรุงเทพมหานคร               NaN
2    3    2020-01-22  ...            นครปฐม             เมือง
3    4    2020-01-22  ...     กรุงเทพมหานคร               NaN
4    5    2020-01-24  ...     กรุงเทพมหานคร               NaN
5    6    2020-01-25  ...     กรุงเทพมหานคร               NaN
6    7    2020-01-26  ...     กรุงเทพมหานคร               NaN
7    8    2020-01-26  ...   ประจวบคีรีขันธ์            หัวหิน
8    9    2020-01-28  ...     กรุงเทพมหานคร               NaN
9   10    2020-01-28  ...           นนทบุรี               NaN

[10 rows x 11 columns]

In [ ]:
df = DATA_.copy()
df.head(10)

   No. announce_date  ... province_of_onset district_of_onset
0    1    2020-01-12  ...     กรุงเทพมหานคร               NaN
1    2    2020-01-17  ...     กรุงเทพมหานคร               NaN
2    3    2020-01-22  ...            นครปฐม             เมือง
3    4    2020-01-22  ...     กรุงเทพมหานคร               NaN
4    5    2020-01-24  ...     กรุงเทพมหานคร               NaN
5    6    2020-01-25  ...     กรุงเทพมหานคร               NaN
6    7    2020-01-26  ...     กรุงเทพมหานคร               NaN
7    8    2020-01-26  ...   ประจวบคีรีขันธ์            หัวหิน
8    9    2020-01-28  ...     กรุงเทพมหานคร               NaN
9   10    2020-01-28  ...           นนทบุรี               NaN

[10 rows x 11 columns]

In [ ]:
df.isnull()

          No.  announce_date  ...  province_of_onset  district_of_onset
0       False          False  ...              False               True
1       False          False  ...              False               True
2       False          False  ...              False              False
3       False          False  ...              False               True
4       False          False  ...              False               True
...       ...            ...  ...                ...                ...
816984  False          False  ...              False              False
816985  False          False  ...              False              False
816986  False          False  ...              False              False
816987  False          False  ...              False              False
816988  False          False  ...              False              False

[816989 rows x 11 columns]

In [ ]:
column_name = list(df.columns)
column_name

['No.',
 'announce_date',
 'Notified date',
 'sex',
 'age',
 'Unit',
 'nationality',
 'province_of_isolation',
 'risk',
 'province_of_onset',
 'district_of_onset']

In [ ]:
df['sex'].groupby(df['sex']).count()

sex
ชาย     375073
นาย          1
หญิง    388910
Name: sex, dtype: int64

In [ ]:
df[df['sex']=='นาย']

           No. announce_date  ... province_of_onset district_of_onset
377984  377985    2021-07-16  ...     กรุงเทพมหานคร          ดอนเมือง

[1 rows x 11 columns]

In [ ]:
df.at[377984, 'sex']='ชาย' # df['sex'][377984]='ชาย'

In [ ]:
df['sex'].groupby(df['sex']).count()

sex
ชาย     375074
หญิง    388910
Name: sex, dtype: int64

In [ ]:
gb = df['nationality'].groupby(df['nationality']).count()

In [ ]:
nationality, number = [], []
for i,j in gb.iteritems():
  nationality.append(i)
  number.append(j)

df_nation = pd.DataFrame({'nationality':nationality, 'number':number})
pd.set_option('display.max_rows', df_nation.shape[0]+1)
df_nation

                  nationality  number
0            Afghan / Afghani       4
1                 Afghanistan       3
2                     African       3
3                     Albania       4
4                     Algeria       1
5                    Algerian       1
6                    American      61
7                   American        1
8              American Samoa       4
9                   Americans       1
10                  Argentina       2
11                  Argentine       1
12                    Armenia       1
13                  Australia      26
14                 Australian      18
15                    Austria       6
16                   Austrian       3
17                 Azerbaijan       1
18                    Bahrain       2
19                 Bangladesh      19
20                Bangladeshi       9
21                    Belarus       2
22                    Belgian       7
23                    Belgium      21
24                    Bermuda       1
25                     Brazil      11
26                  Brazilian       2
27                    British      29
28          British / English      46
29                     Brunei       2
30                   Bulgaria       4
31                      Burma   18759
32                    Burmese   58073
33                   Cambodia     851
34                  Cambodian   14717
35                   Cameroon       9
36                     Canada      32
37                   Canadian      13
38                      China     198
39                    Chinese     464
40                   Colombia       5
41                  Colombian       7
42        Congo (Brazzaville)       1
43              Cote D'Ivoire       3
44                    Croatia       1
45                       Cuba       1
46                      Czech       1
47                    Czechia       7
48                     Danish      10
49                    Denmark       9
50         Dominican Republic       1
51                      Dutch      13
52                      Egypt      10
53                   Egyptian       3
54                    Emirati       6
55                    Eritrea       2
56                    Estonia       5
57                   Ethiopia      15
58                   Filipino      71
59                    Finland       7
60                    Finnish       2
61                     France      98
62                     French      47
63              French Guiana       2
64                     Gambia       1
65                Gambia, The       1
66                     German      34
67                    Germany      70
68                      Ghana      39
69                   Ghanaian      13
70                     Greece       2
71                      Greek       1
72                     Guinea     185
73                    Guinean     137
74                     Guyana       1
75                   Guyanese       1
76                    Haitian       1
77                  Hong Kong       4
78                  Hungarian       2
79                    Hungary       4
80                      IRISH       1
81                    Iceland       5
82                  Icelandic       2
83                      India     227
84             India-Thailand       1
85                     Indian     253
86                  Indonesia      28
87                 Indonesian      33
88                       Iran      16
89                    Iranian       9
90                       Iraq       4
91                      Iraqi       1
92                    Ireland      11
93                      Irish       2
94                     Israel      13
95                    Israeli       7
96                    Italian      14
97                      Italy      36
98                    Ivorian       2
99                      Japan     161
100                  Japanese      66
101                    Jordan       1
102                 Jordanian       1
103      Kazakh / Kazakhstani       1
104                Kazakhstan       6
105                     Kenya       6
106                    Kenyan       2
107              Korea, South      45
108                    Kosovo       1
109                    Kuwait      33
110                   Kuwaiti      10
111                Kyrgyzstan       1
112                         L       1
113                       Lao       2
114                      Laos     779
115                   Laotian       1
116             Laotian / Lao    3532
117               Laotian/Lao      44
118                    Latvia       1
119                   Lebanon       3
120                   Liberia       1
121                     Libya       2
122                 Lithuania       6
123                Luxembourg      28
124                 Macedonia       1
125                    Malawi       1
126                  Malaysia      39
127                 Malaysian      49
128                  Maldives       1
129                 Maldivian       3
130                      Mali       4
131                    Malian       6
132                     Malta       1
133                Mauritians       1
134                 Mauritius       1
135                    Mexico       2
136                  Mongolia       2
137                 Mongolian       2
138                  Moroccan       1
139                   Myanmar      10
140                   Namibia       1
141                     Nepal      11
142         Nepalese / Nepali      13
143               Netherlands      38
144               New Zealand       5
145                 Nicaragua       3
146                   Nigeria      19
147                  Nigerian       8
148              North Korean       1
149                    Norway      19
150                 Norwegian       4
151                    Oatari       1
152                      Oman       7
153                     Other      77
154                  Pakistan      53
155                 Pakistani      33
156                 Palestine       1
157               Palestinian       2
158               Philippines      93
159                    Poland       9
160                    Polish       4
161                  Portugal       4
162                Portuguese       2
163                     Qatar       5
164                   Romania       8
165                  Romanian       2
166                    Russia      79
167                   Russian      24
168                   Senegal       1
169                    Serbia       5
170                   Serbian       2
171              Sierra Leone       1
172                 Singapore      18
173               Singaporean      14
174                  Slovenia       1
175                   Somalia       1
176              South Africa      14
177             South African       7
178              South Korean      58
179                     Spain       6
180                   Spanish       3
181                 Sri Lanka       4
182                Sri Lankan       3
183                     Sudan      13
184                    Sweden      27
185                   Swedish       7
186                     Swiss      10
187               Switzerland      37
188                     Syria       4
189                    Syrian       2
190                    Taiwan      19
191                 Taiwanese      29
192                Tajikistan       1
193                  Tanzania       2
194                 Tanzanian       3
195                      Thai    1143
196                  Thailand  632371
197               Timor-Leste       1
198                  Timorese       1
199                   Tunisia       2
200                    Turkey       9
201                   Turkish       9
202                    Uganda       5
203                   Ugandan       1
204                   Ukraine      12
205      United Arab Emirates       6
206            United Kingdom     153
207  United States of America     134
208                     Uzbek       1
209                Uzbekistan       3
210                Venezuelan       1
211                   Vietnam      72
212                Vietnamese      92
213                     Yemen       3
214         Yemeni / Yemenite       1
215                  Zimbabwe       4
216                     burma      68
217                   burmese     122
218                 cambodian      69
219                  canadian       1
220                     china       2
221                   chinese       1
222                     congo       1
223                   deutsch       1
224                    france       1
225                     india       1
226                    indian       1
227                   iranian       1
228                     japan       1
229                      laos       1
230             laotian / Lao       5
231                 pakistani       1
232                    taiwan       1
233                     yemen       1
234                   กัมพูชา       1
235                       จีน       1
236                  ต่างด้าว      21
237                    บราซิล       1
238                      พม่า       1
239                       ลาว       2
240                   อเมริกา       1
241                   ไทยใหญ่       1
242                    ไทใหญ่       1
243                  ไนจีเรีย       1
244              ไม่มีสัญชาติ       3

In [ ]:
max = df_nation['number'].max()
df_nation[df_nation['number']==max]

    nationality  number
196    Thailand  632371

In [ ]:
df_cnx = df[df['province_of_onset']=='เชียงใหม่']
df_cnx

           No. announce_date  ... province_of_onset district_of_onset
16          17    2020-01-31  ...         เชียงใหม่             หางดง
91          92    2020-03-15  ...         เชียงใหม่            แม่ริม
185        186    2020-03-18  ...         เชียงใหม่          นครพิงค์
192        193    2020-03-18  ...         เชียงใหม่               NaN
252        253    2020-03-19  ...         เชียงใหม่               NaN
...        ...           ...  ...               ...               ...
796020  796021    2021-08-11  ...         เชียงใหม่            แม่ออน
796021  796022    2021-08-11  ...         เชียงใหม่            แม่ออน
796023  796024    2021-08-11  ...         เชียงใหม่             สารภี
796024  796025    2021-08-11  ...         เชียงใหม่            แม่ริม
796025  796026    2021-08-11  ...         เชียงใหม่            แม่ริม

[4968 rows x 11 columns]

In [ ]:
df_cnx[['risk']].groupby(df_cnx['risk']).count()

                                                    risk
risk
Cluster ตลาดสี่มุมเมือง                                3
การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน     839
คนต่างชาติเดินทางมาจากต่างประเทศ                       3
คนไทยเดินทางกลับจากต่างประเทศ                          7
ตรวจก่อนทำหัตถการ                                      2
ทัณฑสถาน/เรือนจำ                                      42
บุคลากรด้านการแพทย์และสาธารณสุข                        2
ระบุไม่ได้                                           110
ระหว่างการสอบสวนโรค                                    1
ศูนย์กักกัน ผู้ต้องกัก                                 1
สถานที่ทำงาน                                          13
สถานบันเทิง                                          336
สนามมวย                                                3
สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้         1431
สัมผัสในสถานพยาบาล                                     4
อยู่ระหว่างการสอบสวน                                1062
อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงานใ...     6
อื่นๆ                                                939
ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว        156
ไปสถานที่แออัด เช่น งานแฟร์ คอนเสิร์ต                  7

In [ ]:
df_cnx['district_of_onset'].hasnans

True

In [ ]:
df_cnx = df_cnx.dropna()

In [ ]:
df_cnx

           No. announce_date  ... province_of_onset district_of_onset
490        491    2020-03-22  ...         เชียงใหม่           สันทราย
782        783    2020-03-24  ...         เชียงใหม่           สันทราย
1070      1071    2020-03-27  ...         เชียงใหม่             เมือง
1072      1073    2020-03-27  ...         เชียงใหม่          สันกำแพง
1303      1304    2020-03-29  ...         เชียงใหม่            แม่ริม
...        ...           ...  ...               ...               ...
796020  796021    2021-08-11  ...         เชียงใหม่            แม่ออน
796021  796022    2021-08-11  ...         เชียงใหม่            แม่ออน
796023  796024    2021-08-11  ...         เชียงใหม่             สารภี
796024  796025    2021-08-11  ...         เชียงใหม่            แม่ริม
796025  796026    2021-08-11  ...         เชียงใหม่            แม่ริม

[2189 rows x 11 columns]

Set up time series index

In [ ]:
df

           No. announce_date  ... province_of_onset district_of_onset
0            1    2020-01-12  ...     กรุงเทพมหานคร               NaN
1            2    2020-01-17  ...     กรุงเทพมหานคร               NaN
2            3    2020-01-22  ...            นครปฐม             เมือง
3            4    2020-01-22  ...     กรุงเทพมหานคร               NaN
4            5    2020-01-24  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
816984  816985    2021-08-11  ...           สระแก้ว           ตาพระยา
816985  816986    2021-08-11  ...           สระแก้ว           ตาพระยา
816986  816987    2021-08-11  ...           สระแก้ว        อรัญประเทศ
816987  816988    2021-08-11  ...     กรุงเทพมหานคร       บางขุนเทียน
816988  816989    2021-08-11  ...   พระนครศรีอยุธยา             อุทัย

[816989 rows x 11 columns]

In [ ]:
idx = df['announce_date']
idx

0        2020-01-12
1        2020-01-17
2        2020-01-22
3        2020-01-22
4        2020-01-24
            ...
816984   2021-08-11
816985   2021-08-11
816986   2021-08-11
816987   2021-08-11
816988   2021-08-11
Name: announce_date, Length: 816989, dtype: datetime64[ns]

In [ ]:
df_ts = pd.DataFrame(df.values, index=idx, columns=df.columns)
df_ts

                  No. announce_date  ... province_of_onset district_of_onset
announce_date                        ...
2020-01-12          1    2020-01-12  ...     กรุงเทพมหานคร               NaN
2020-01-17          2    2020-01-17  ...     กรุงเทพมหานคร               NaN
2020-01-22          3    2020-01-22  ...            นครปฐม             เมือง
2020-01-22          4    2020-01-22  ...     กรุงเทพมหานคร               NaN
2020-01-24          5    2020-01-24  ...     กรุงเทพมหานคร               NaN
...               ...           ...  ...               ...               ...
2021-08-11     816985    2021-08-11  ...           สระแก้ว           ตาพระยา
2021-08-11     816986    2021-08-11  ...           สระแก้ว           ตาพระยา
2021-08-11     816987    2021-08-11  ...           สระแก้ว        อรัญประเทศ
2021-08-11     816988    2021-08-11  ...     กรุงเทพมหานคร       บางขุนเทียน
2021-08-11     816989    2021-08-11  ...   พระนครศรีอยุธยา             อุทัย

[816989 rows x 11 columns]

In [ ]:
df_ts = df_ts.drop(columns=['No.', 'announce_date'])
df_ts

              Notified date   sex  ... province_of_onset district_of_onset
announce_date                      ...
2020-01-12              NaT  หญิง  ...     กรุงเทพมหานคร               NaN
2020-01-17              NaT  หญิง  ...     กรุงเทพมหานคร               NaN
2020-01-22              NaT  หญิง  ...            นครปฐม             เมือง
2020-01-22              NaT   ชาย  ...     กรุงเทพมหานคร               NaN
2020-01-24              NaT  หญิง  ...     กรุงเทพมหานคร               NaN
...                     ...   ...  ...               ...               ...
2021-08-11       2021-08-10  หญิง  ...           สระแก้ว           ตาพระยา
2021-08-11       2021-08-10   ชาย  ...           สระแก้ว           ตาพระยา
2021-08-11       2021-08-10   ชาย  ...           สระแก้ว        อรัญประเทศ
2021-08-11       2021-08-10  หญิง  ...     กรุงเทพมหานคร       บางขุนเทียน
2021-08-11       2021-08-10  หญิง  ...   พระนครศรีอยุธยา             อุทัย

[816989 rows x 9 columns]

In [ ]:
from datetime import date

dt_start = date(2021,7,1).strftime('%Y-%m-%d')
dt_end = date(2021,7,31).strftime('%Y-%m-%d')
df_ts[dt_start:dt_end]

              Notified date   sex  ... province_of_onset district_of_onset
announce_date                      ...
2021-07-01       2021-06-30   ชาย  ...          เชียงราย             เมือง
2021-07-01       2021-06-30  หญิง  ...          เชียงราย              เทิง
2021-07-01       2021-06-30  หญิง  ...          เชียงราย              เทิง
2021-07-01       2021-06-30   ชาย  ...          เชียงราย             เมือง
2021-07-01       2021-06-30   ชาย  ...          เชียงราย              เทิง
...                     ...   ...  ...               ...               ...
2021-07-31       2021-07-30  หญิง  ...     กรุงเทพมหานคร               NaN
2021-07-31       2021-07-30  หญิง  ...     กรุงเทพมหานคร               NaN
2021-07-31       2021-07-30  หญิง  ...     กรุงเทพมหานคร               NaN
2021-07-31       2021-07-30  หญิง  ...     กรุงเทพมหานคร               NaN
2021-07-31       2021-07-30   ชาย  ...     กรุงเทพมหานคร               NaN

[337986 rows x 9 columns]